<button type="button" onClick={{ action "watchBalance" }}>watch balance</button>
    <div>
        <h1> balance h1 </h1>
        <hr>
    </div>
    <div id="coinbase"></div>
    <div id="original"></div>
    <div id="current"></div>
    <div id="diff"></div>
{{yield}}
