.logo-web3{
    font-weight: 700;
    font-size: 54px;
    box-sizing: border-box;
    margin: auto;
    padding:  10px 1px 1px 25px;
    color: #FFF;
}
.logo-ember {
    padding-left: 15px;
    margin-top: 20px;
    width: 260px;
    max-width: 100%;
    box-sizing: border-box;
}
li.hnav a{
    font-size: 28px;
} 
.leftbar{
    background: #f5f5d5;
}
.logo{
    height: 260px;
}
.myred {
    background: linear-gradient(to bottom ,#ff7043,#ff7043);
}
.snav-radis{
    background: linear-gradient(to bottom ,#ff7043,#ff7043);
}
li.leftbar a {     
    font-size: 28px;
}

.callInput{
    border: 1px solid #9e9e9e !important;
     
}