
<div class="input-field col s6">
    <a class="waves-effect waves-light btn-large"  >api 版本<i class="material-icons  "> {{model.api}} </i> </a>
</div>
<div class="input-field col s6">
    <a class="waves-effect waves-light btn-large" >node 版本<i class="material-icons  ">{{model.node}}   </i>  </a>
</div>        
<div class="input-field col s6">
    <a class="waves-effect waves-light  btn-large" >network 版本<i class="material-icons  ">{{model.network}} </i> </a>
</div> 
<div class="input-field col s6">
    <a class="waves-effect waves-light btn-large" >ethereum 版本<i class="material-icons  ">{{model.ethereum}} </i> </a>
</div>
<div class="input-field col s6">
    <a class="waves-effect waves-light btn-large" >whisper 版本<i class="material-icons  ">  </i>
     </a>
</div>