<h3>Block 区块信息 </h3>
<hr>
<h5>默认最新 Block 区块信息 </h5>
<div class="row">
        <div class="input-field col s12">
          <textarea id="contractSource"  class="materialize-textarea">{{model}}</textarea>
          <label for="textarea1">default Block</label>
        </div>
</div> 

 {{#block-component}}

 {{/block-component}}
{{outlet}}
