{{!-- The following component displays Ember's default welcome message. --}}
{{!--  welcome-page --}}
{{!-- Feel free to remove this! --}}


<div class="container">
  <div class="myred fixed">    
   <nav class="topHeader">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Ember Web3js</a>
        <ul   class="left ">
          <li class="hnav"> {{#link-to 'index'}}home {{/link-to}} </li>
          <li class="hnav"> {{#link-to 'contract'}}合约 {{/link-to}} </li>        
          <li class="hnav">{{#link-to 'balance'}}余额 {{/link-to}}</li>
          <li class="hnav">{{#link-to 'block'}}区块 {{/link-to}}</li>
        </ul>
      </div>
    </nav>        
  </div>
  <hr>
    <div class="side-nav fixed red lighten-1 snav-radis"> 
        <div class="logo">
            <img class="logo-ember" src="ember-logo-white.png">
            <div class="logo-web3">WEB3JS</div>
        </div>
        <ul class="center">         
          <li class="row leftbar"> {{#link-to 'index'}}home {{/link-to}} </li>
          <li class="row leftbar"> {{#link-to 'contract'}}合约 {{/link-to}} </li>        
          <li class="row leftbar"> {{#link-to 'balance'}}余额 {{/link-to}}</li>
          <li class="row leftbar"> {{#link-to 'block'}}区块 {{/link-to}}</li>
        </ul>
    </div>
    <div class="container">       
        {{outlet}}
    </div>
</div>


